<!-- {% extends "hike/layout.html" %}

{% block body %}
    <div>
        <a href="{% url 'frontpage'%}">Go back to start</a>
    </div>
    <div>
        <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=0.49438476562500006%2C50.68427770577119%2C9.283447265625002%2C53.73896488496292&amp;layer=mapnik" style="border: 1px solid black"></iframe>
        <br/>
        <small>
            <a href="{% url 'map'%}">View Larger Map</a>
        </small>
    </div>
    <form action="" method="post">
        <input 
        type="text" 
        name="longitude" 
        placeholder="Longitude" 
        pattern="^-?([1-9]?[0-9]|1[0-7][0-9]|180)(\.\d+)?$" 
        title="Enter a valid longitude (-180 to 180)" 
        required>
        
    <input 
        type="text" 
        name="latitude" 
        placeholder="Latitude" 
        pattern="^-?([1-8]?[0-9]|90)(\.\d+)?$" 
        title="Enter a valid latitude (-90 to 90)" 
        required>
        <input type="submit" value="plan my route">
    </form>

{% endblock %}

51.987496187093704, 5.665793885052128  coordinaten van gaia -->